site/ebin/*
*.sw?
erl_crash.dump
*~
/log
/scratch
lib/nitrogen_core
lib/simple_bridge
lib/nprocreg
lib/sync

Mnesia*/
bin/
erts*/
lib/
man/
misc/
rebar
releases/
Install/
BuildInfo.txt
do-plugins.escript
Makefile



